@import './variables';

.pagination {
  padding: 30px 0px;
  float: right;
  margin-right: 5rem;
  li {
    background: $primary_color;
    border-radius: 4px;
    margin-left: 5px;
    min-width: 30px;
    padding: 2px;
    text-align: center;
    border: solid 1px $primary_color;
    a {
      color: white;
    }
    &:hover, &.active {
      background-color: white;
      color: $primary_color;
      border: solid 1px $primary_color;
      a {
        color: $primary_color !important;
        text-decoration: none;
      }
    }
  }

  .prev, .next {
    padding: 2px 10px;
  }
}
@media (max-width: 991px) {
  .pagination {
    float: none;
    width: 100%;
  }
}
