@import "./variables.scss";

body {
  font-family: 'Quicksand', sans-serif;
}

html {
  overflow-x: hidden;
}

.bt-main {
  background-color: $primary_color !important;
  color: white !important;
  border: solid 1px $primary_color !important;
  &:hover {
    background-color: white;
    color: $primary_color;
    border: solid 1px $primary_color;
  }
}

.react-multi-carousel-item {
  width: 10rem !important;
}

.bt-inverse {
  background-color: white;
  color: $primary_color;
  border: solid 1px $primary_color;
  &:hover {
    background-color: $primary_color;
    color: white;
    border: solid 1px white;
  }
}

.card {
  border: none;
  .card-title {
    font-size: 14px;
  }
}

