.CarouselContainer {
  h3 {
    padding: 10px 0px;
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .card {
    img {
      width: 100%!important;
      height: 200px!important;
      object-fit: cover;
      border-radius: 4px;
    }
    p {
      color: $primary_color;
    }
  }
  .sc-bxivhb {
    min-width: 11rem;
  }
}
