@import './../../sass/variables';

.navbar {
  background: $primary_color;
  .navbrand {
    //font-size: 10rem;
    font-family: 'Alfa Slab One', cursive;
    color: $font-color;
    font-size: 26px;
    &:hover {
      text-decoration: none;
    }
  }
}
li.active {
  a {
    color: white !important;
  }
}
@media(max-width: 991px) {
  a.navbrand {
    button {
      float: right;
    }
  }
}
