.MovieContainer {
  h3 {
    padding: 30px 0px;
  }
  .table {
    td:first-child {
      min-width: 200px;
    }
  }
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
  .card {
    img {
      width: 100%!important;
      height: 200px!important;
      object-fit: cover;
      border-radius: 4px;
    }
    p {
      color: $primary_color;
    }
  }
}
